*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #D4D4D4;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    padding: 20px;
}
header{
    height: 400px;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("./img/builder.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
header nav{
    padding-top: 20px;
}
header nav a{
    text-decoration: none;
    color: #fff;
    padding: 0 16px;
    font-size: 18px;
}
header nav a:hover{
    color: chocolate;
}
.section{
    height: 300px;
    background: #fff;
    padding: 30px;
    margin-top: 20px;
}
.section h2{
    margin-bottom: 10px;
    color: #606060;
}
.section p{
    margin-bottom: 10px;
    color: #808080;
    text-align: justify;
}
.section p a{
    text-decoration: none;
    color: coral;
}
.column{
    display: flex;
    margin-top: 20px;
}
.col1:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.col2:hover{
    /* opacity: 0.5; */
    transform: scale(1.1);
    transition: 0.5s;
}
.column .col1{
    height: 300px;
    width: 50%;
    background: url("./img/IMG_2349.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 20px;
}
.column .col2{
    height: 300px;
    width: 50%;
    background: url("./img/IMG_2350.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#about{
    height: 600px;
    background: #fff;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#about h2{
    color: #606060;
    margin-bottom: 10px;
}
#about p{
    color: #808080;
    text-align: justify;
    margin-bottom: 20px;
}
.img{
    display: flex;
    justify-content: space-between;
}
.img .img1{
    width: 32%;
    height: 250px;
    background: url("./img/IMG_0364.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img .img2{
    width: 32%;
    height: 250px;
    background: url("./img/IMG_2278.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img .img3{
    width: 32%;
    height: 250px;
    background: url("./img/IMG_2337.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#contact{
    height: 550px;
    background: #fff;
    padding: 30px;
}
#contact h2{
    color: #606060;
    margin-bottom: 10px;
}
#contact p{
    color: #808080;
    text-align: justify;
}
#contact form{
    margin-top: 20px;
}
#contact form h3{
    margin-bottom: 10px;
}
#contact form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
#contact form textarea{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
#contact form button{
    padding: 12px 45px;
    background: coral;
    border: 0;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
}
#contact form button:hover{
    background: green;
}
#services{
    height: 600px;
    padding: 30px;
    margin-top: 20px;
    background: #fff;
}
#services h2{
    margin-bottom: 10px;
    color: #606060;
}
#services p{
    text-align: justify;
    color: #808080; 
}
.cards{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.cards .card1{
    width: 23%;
    /* background: coral; */
    height: 300px;
}
.cards .card1 .cardimg{
    height: 150px;
    background: url("./img/IMG_2339.JPG");
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
}
.cards h3{
    margin-bottom: 10px;
}
.cards .card2{
    width: 23%;
    /* background: coral; */
    height: 300px;
}
.cards .card2 .cardimg{
    height: 150px;
    background: url("./img/IMG_2341.JPG");
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
}
.cards .card3{
    width: 23%;
    /* background: coral; */
    height: 300px;
}
.cards .card3 .cardimg{
    height: 150px;
    background: url("./img/IMG_2343.JPG");
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
}
.cards .card4{
    width: 23%;
    /* background: coral; */
    height: 300px;
}
.cards .card4 .cardimg{
    height: 150px;
    background: url("./img/IMG_2349.JPG");
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
}
#gallery{
    height: 700px;
    padding: 30px;
    margin-top: 20px;
    background: #fff;
}
#gallery .row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
#gallery .row .gal{
    width: 20%;
    height: 200px;
    margin-right: 5px;
}
#gallery .row .gal1{
    background: url("./img/IMG_2337.JPG");
    background-size: cover;
    background-position: center;
}
#gallery .row .gal2{
    background: url("./img/IMG_2338.JPG");
    background-size: cover;
    background-position: center;
    margin-right: 5px;
}
#gallery .row .gal3{
    background: url("./img/IMG_2339.JPG");
    background-size: cover;
    background-position: center;
    margin-right: 5px;
}
#gallery .row .gal4{
    background: url("./img/IMG_2340.JPG");
    background-size: cover;
    background-position: center;
    margin-right: 5px;
}
#gallery .row .gal5{
    background: url("./img/IMG_2341.JPG");
    background-size: cover;
    background-position: center;
    margin-right: 5px;
}
#gallery .row .gal6{
    background: url("./img/IMG_2366.JPG");
    background-size: cover;
    background-position: center;
    margin-right: 5px;
}
#gallery .row .gal7{
    background: url("./img/IMG_2343.JPG");
    background-size: cover;
    background-position: center;
    margin-right: 5px;
}
#gallery .row .gal8{
    background: url("./img/IMG_2344.JPG");
    background-size: cover;
    background-position: center;
    margin-right: 5px;
}
#gallery .row .gal9{
    background: url("./img/IMG_2345.JPG");
    background-size: cover;
    background-position: center;
    margin-right: 5px;
}
#gallery .row .gal10{
    background: url("./img/IMG_2346.JPG");
    background-size: cover;
    background-position: center;
    margin-right: 5px;
}
#gallery .row .gal11{
    background: url("./img/IMG_2347.JPG");
    background-size: cover;
    background-position: center;
    margin-right: 5px;
}
#gallery .row .gal12{
    background: url("./img/IMG_2348.JPG");
    background-size: cover;
    background-position: center;
    margin-right: 5px;
}
#gallery .row .gal13{
    background: url("./img/IMG_2349.JPG");
    background-size: cover;
    background-position: center;
    margin-right: 5px;
}
#gallery .row .gal14{
    background: url("./img/IMG_2350.JPG");
    background-size: cover;
    background-position: center;
    margin-right: 5px;
}
#gallery .row .gal15{
    background: url("./img/IMG_2351.JPG");
    background-size: cover;
    background-position: center;
    margin-right: 5px;
}
#gallery .row .gal:hover{
    opacity: 0.5;
}

 









/* responsive code */
@media screen and (max-width:600px){
    header nav a{
        display: block;
        margin-bottom: 10px;
    }
    header nav a:hover{
        color: chocolate;
    }
    .section{
        height: 600px;
    }
    .column{
        flex-direction: column;
    }
    .column .col1{
        width: 100%;
        margin-bottom: 20px;
    }
    .column .col2{
        width: 100%;
        margin-bottom: 20px;
    }
    #about{
        height: 1500px;
    }
    .img{
        flex-direction: column;
    }
    .img .img1{
        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .img .img2{
        width: 100%;
        margin-bottom: 20px;
    }
    .img .img3{
        width: 100%;
        margin-bottom: 20px;
    }
    #contact{
        height: 850px;
    }
    #services{
        height: 2000px;
    }
    .cards{
        flex-direction: column;
    }
    .cards .card1{
        width: 100%;
        margin-bottom: 30px;
    }
    .cards .card2{
        width: 100%;
        margin-bottom: 30px;
    }
    .cards .card3{
        width: 100%;
        margin-bottom: 30px;
    }
    .cards .card4{
        width: 100%;
    }
    #gallery{
        height: 3200px;
    }
    #gallery .row{
        flex-direction: column;
    }
    #gallery .row .gal{
        width: 100%;
        margin-bottom: 5px;
    }
}